# Virtual Environment
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Streamlit cache
.streamlit/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Logs
*.log